.list{
  width:1280px;
  margin:0;
  box-shadow: 2px 2px 2px 2px #333;
  margin:100px auto;
  cursor: pointer;

}

.cell{
  display: inline-block;
  width:160px;
  padding: 15px;
  box-sizing: border-box;
}
.row:nth-of-type(2n){
  background: lightgrey;
}
.list #cityId {
 margin-left: 90px;


}
.row-header{
  font-weight: bold;
  background-color: #cecece;

}
.row-header select{
  margin-right: 3px;
  background-color: #cecece;

}
#id{
  width:140px
}
.row{
  border-bottom: solid 1px #cecece;
  font-size: 13px;
}
.row #emailId{
 width:250px;

}
.row #deleteId #updateId{
  width:100px;
}
.prev{
 display: none;
 padding-right: 80px;
}
.pagination{
  display: grid;
  grid-template-columns: 80px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 80px;
  column-gap: 10px;
  text-align: center;

  margin-left: 20%;
  height: 50px;
  padding: 2px;

}
.pagination div{

  border: 1px solid grey;
  text-align: center;
  padding-top: 9px;
  font-size: 25px;
  color:grey;

}
.pagination div:hover{
  background: lightblue;
}
.pagination .active{
  color:blue;
}
.next{
  display:none;



}
.sub-pagination {
  width:300px;
  margin-left: 45%;
  height: 60px;


}
#prev{
  box-sizing: border-box;
  position: absolute;
  margin-right: 80px;
  /* margin-top: 20px; */


}
#next{
  box-sizing: border-box;
  margin-left: 50px;
  margin-top: 20px;
  position: relative;
}
