.list{
  width:1280px;
  margin:0;
  box-shadow: 2px 2px 2px 2px #333;
  margin:100px auto;
  cursor: pointer;

}

.cell{
  display: inline-block;
  width:160px;
  padding: 15px;
  box-sizing: border-box;
}
.row:nth-of-type(2n){
  background: lightgrey;
}
.list #cityId {
 margin-left: 90px;


}
.row-header{
  font-weight: bold;
  background-color: #cecece;

}
.row-header select{
  margin-right: 3px;
  background-color: #cecece;

}
#id{
  width:140px
}
.row{
  border-bottom: solid 1px #cecece;
  font-size: 13px;
}
.row #emailId{
 width:250px;

}
.row #deleteId #updateId{
  width:100px;
}
.detailInfo ul li{

  list-style: none;
}
.detailInfo ul {

  text-align: center;
  margin: 5px;
  padding: 10px;
}
.detailInfo {
  margin-left: 40%;
  width: 400px;;
  height: 200px;
  border: 2px solid black;
}
