.pagination{
  width:800px;
  border: 1px solid white;
  height:80px;
  margin:0px auto;
  position:relative;

}
.pagination .box {
  margin-top:30px;
  margin-left:12%;
}
.pagination .box div {

  display:inline;
  border:1px solid black;
  padding:15px;


}

.pagination .box div:hover {
  background-color: grey;
}
.active{
  color: white;
  background-color: lightblue;
}
