.container{
  width:1480px;
  position: absolute;
  display: inline-flex;
  top: -5px;

}
.search-box{
  position: relative;
  margin-top: 70px;
  margin-left: 80px;

}
.search-box input{
  width:1200px;
}
.category-box{
  position: relative;
  margin-top: 70px;
}
.category-box select{
  height: 29px;
}
